@import '_partials/variables';

.photo-cred {
  opacity: 0.5;
  font-style: italic;
  position: absolute;
  right: 16px;
}

.name {
  font-family: $font-one;
  text-align: left;
  color: $color-tertiary;
}

.body-background {
  background-color: #EAF0F2;
}

body {
  font-family: $font-two;
}

h2, h3 {
  font-family: $font-two;
}

.user-sig{
  font-style: italic;
  text-align: center;
}
