.recent-activity{
  font-family: $font-primary;
  text-align: center;
  color: $color-tertiary;
  margin-bottom: 0;
}

.sign-up {
  margin-top: 30px;
  border: solid 2px #ddd;
}

.sign-up-description {
  margin-top: 30px;
  p {
    font-size: 1.3rem;
  }
}
